terraform {
  required_providers {
    datadog = {
      source  = "DataDog/datadog"
      version = "3.26.0"
    }
  }
  required_version = ">= 0.15"
  experiments      = [module_variable_optional_attrs]
}

provider "datadog" {
  # Configure the DataDog provider
  api_key = 
  app_key = 
  # Depending on your Datagod domain might not be necessary
  api_url = "https://api.datadoghq.eu/"
}